<h5>I'm the form!</h5>

<%= form_with(model: slot, local: true) do |form| %>
  <% if slot.errors.any? %>
    <h3><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h3>
    <ul>
      <% slot.errors.full_message.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.label :start_date %>
  <%= form.date_field :start_date, id: :start_date %>

  <%= form.label :start_time %>
  <%= form.time_field :start_time, id: :start_time %>

  <%= form.select :duration, ["30 minutes", "1 hour", "1 hour 30 minutes", "2 hours"] %>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>