<%= slot.date.strftime("%m/%d") %>, <%= slot.start_time.strftime("%H:%M") %>-<%= slot.end_time.strftime("%H:%M") %>
<div class="mentor_name"><%= slot.mentor.first_name %></div>
<div class="see-details-button"><%= button_to "See Details", slot_path(slot), method: "get" %></div>