<h3>Sign up to pair!</h3>
<%= button_to "Create New Slot", new_slot_path(@slot), method: "get" %>

<% @slots.each do |slot| %>
  <div class="slot">
	<%= render partial: "slot", locals: { slot: slot } %>
  </div>
<% end %>

<h2>Top Mentors</h2>

<% @top_mentors.each do |mentor| %>
  <%= mentor.first_name%>
  <%= mentor.slots.inject(0){|sum, slot| sum + slot.duration} %><br>
<% end %>

<h2>Top Mentees</h2>

<% @top_mentees.each do |mentee| %>
  <%= mentee.first_name%>
  <%= mentee.appointments_with_mentors.count %><br>
<% end %>