<h3>Sign up to pair!</h3>
<%= button_to "Create New Slot", new_slot_path(@slot), method: "get" %><br>

<div class="slots">
  <% @slots.each do |slot| %>
	<div class="slot">
	  <%= render partial: "slot", locals: { slot: slot } %>
	</div>
  <% end %>
</div>


<div class="leaderboard">
	<div class="mentors">
	  <h3>Top Mentors</h3>
	  <hr>
	  <h5 class="username">Username:</h5>
	  <h5 class="points">Points:</h5>

	  <% @top_mentors.sort_by! {|mentor| mentor.slots.count}.reverse! %>
	  <% @top_mentors.each do |mentor| %>
		<div class="mentor">
		  <%= mentor.first_name %>
		  <%= mentor.slots.count %><br>
		</div><br>
	  <% end %>
	</div>


	<div class="mentees">
	  <h3>Top Mentees</h3>
	  <hr>
	  <h5 class="username">Username:</h5>
	  <h5 class="points">Points:</h5>
	  <% @top_mentees.each do |mentee| %>
	    <%= mentee.first_name%>
	    <%= mentee.appointments_with_mentors.count%><br>
	  <% end %>
	</div>
</div>
