<img src="<%= @slot.mentor.picture_url %>" style="width:128px;height:128px;"><br>
<%= @slot.mentor.first_name %><br>
<%= @slot.mentor.bio %><br><br>

<% if @slot.mentor_id != session[:user_id] %>
  <%= @slot.date.strftime("%m/%d") %>, <%= @slot.start_time.strftime("%H:%M") %>-<%= @slot.end_time.strftime("%H:%M") %>
  <%= button_to "Book Session", slot_appointments_path(@slot), method: "POST", remote: true, class: "book-slot", params: { mentee_id: current_user.id } %><br>
<% end %>

<div class="topics-div">
  <h3>Hi! I like to mentor on...</h3>

  <div class="topics">
  <% if @slot.mentor.topics %>
    <% @slot.mentor.topics.each do |topic| %>
    	<% if @slot.mentor.topics.last != topic %>
    	  <%= topic %>,
    	<% else %>
    	  <%= topic %>
    	<% end %>
    <% end %>
  <% end %>
  </div>
</div>
