<div class="sm-container">
  <h3 id="new-user-head">Join the Party!</h3>
  <%= form_for @user do |f| %>
    <%= f.text_field :picture_url, placeholder: "picture url" %><br>
    <%= f.text_field :bio, placeholder: "about you" %><br>
    <%= f.text_field :topic1, placeholder: "preferred topic 1" %><br>
    <%= f.text_field :topic2, placeholder: "preferred topic 2" %><br>
    <%= f.text_field :topic3, placeholder: "preferred topic 3" %><br>


    <%= f.submit "Edit profile!", class: "button" %>
  <% end %>
</div>
