<%= link_to "Edit Profile", edit_user_path(@user) %>
<p class="pic"><%= image_tag user_profile_pic(@user) %></p>
<p class="name"><%= @user.first_name %> <%= @user.last_name %></p>
<p class="bio"><%= @user.bio %></p>
<div class="like_to_mentor">
<p>I like to mentor on...</p>
	<% if @user.topics && @user.topics[0] != "" %>
		<ul>
			<% @user.topics.each do |topic| %>
				<li><p class="topic"> <%= topic %></p></li>
			<% end %>
		</ul>
	<% end %>
</div>
<div class="left inline">
	<h3>Upcoming mentoring slots</h3>
	<p>
		<% @user.mentoring_appointments.each do |appointment| %>
			<%= appointment.display_appointment %>
			<br>
		<% end %>
	</p>
</div>

<div class="right inline">
	<h3>Upcoming pairing appointments</h3>
	<p>
		<% @user.appointments_with_mentors.each do |appointment| %>
			<%= appointment.display_appointment %>
			<br>
		<% end %>
	</p>
</div>

