<!DOCTYPE html>
<html>
  <head>
    <title>PairBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <%= image_tag("DevBootcamp_Logo.png") %>
      <ul class="nav">
        <% if logged_in? %>
          <%= link_to "Hello #{current_user.first_name}", user_path(current_user) %> |
          <%= link_to "Sign Out", session_path(current_user.id), method: :delete %>
        <% end %>
       </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
